/* styles for TP02 */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    background-color: #ccc;
}

h1,
h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 5rem;
    line-height: 0.9em;
}

header,
section {
    height: 90vh;
    width: 60vh;
    background-color: white;
    margin: 1rem;
    float: left;
    padding: 3rem;
    box-shadow: 0px 5px 10px #333;
}

header {
    display: flex;
    align-items: center;
}

header h1 {
    flex-grow: 1;
    text-align: center;
}

section {
    background-color: #f0eedd;
}


#coolPic img {
    width: 100%;
}