/* 

(Comments in CSS documents start with / * and end with * /.)

CSS relies on the hierarchical structure of the DOM, which is initially set up by the HTML. 

We use CSS "selectors" like little searches to find elements in the DOM, then identify a style 
"property" we want to set and give that property a value. We do this by referencing the object
we want to style and then put the style properties in curly braces, like this:

object {
    style-property: property-value;
    another-style-property: another-value;
}

In this abstract example, the DOM object "object" is the selector, and is being given values for
two different styles. Of course, this is abstract; the selector, styles, and values need to be
specific.

For example, you could style the headline level 1 <h1> tags in the section tags with CSS that follows
the same kind of hierarchy as the DOM elements, with each level selecting that tag in that level of
the hierarchy. Then, pick a style property (in this case, "font-family") and give it a value 
(in this case, "Arial"). Like this:
*/

html {

    body {

        main {

            section {

                h1 {
                    font-family: Arial; /* sets the typeface */
                }

            }

        }
        
    }

}

/* 
The logical hierarchy here is identical to the DOM hierarchy in the HTML. Curly braces open { and close }
each level of the hierarchy.

We can apply styles to multiple elements of the hierarchy. Here's the above with added CSS styling for 
the footer and its paragraph tag:
*/

html {

    body {

        main {

            section {

                h1 {
                    font-family: Arial; 
                }

            }

        }

        footer {

            p {
                font-style: italic; /* show it in italics */
            }
            
        }
        
    }

}

/* 
Carefully note the hierarchy.

We can also set styles to the objects along the hierarchy, like this added formatting for section tags: 
*/

html {

    body {

        main {

            section {

                background-color: lightskyblue; /* sets background color */

                h1 {
                    font-family: Arial; 
                }

            }

        }

        footer {

            p {
                font-style: italic;
            }
            
        }

    }

}

/* 
However, we usually write CSS with a shorthand that collapses the hierarchy into spaces. The above
CSS coding could be expressed like this: 
*/

html body main section {
    background-color: lightskyblue; /* sets background color */
}

html body main section h1 {
    font-family: Arial; /* sets the font family */
}

html body footer p {
    font-style: italic; /* show it in italics */
}


/*
This expresses parent-child hierearchy using spaces, which is shorter and easier to read at a glance.
Note that the spaces are absolutely critical and must be used carefully.

Importantly, CSS selectors are usually simplified even further:

First, we do not need to include "html" in the CSS selector. It is the top-level ancestor object which
contains every other object on the page and is implied in every selector.

Second, we do not need to include "body" in the CSS selector. It is an ancestor object (almost top-level)
which contains all the other visible objects, and is also implied in every selector.

Third, if we want some styles to apply to all of that kind of tag throughout the DOM, regardless of its
parents, we can just make a selector for that tag.

For example, if we want to style all the <section> and <h1> tags:

*/

section {
    background-color: lightskyblue;
}

h1 {
    font-family: Arial;
}

/*
If we're trying to style every <section> and every <h1> tag available in the DOM, no matter its ancestry,
then we do not need to include any ancestors in the hierarchy.

However, we must include the hierarchy if we want to get more specific. For example, to apply italics
to the paragraph in the <footer> tag, but not to paragraphs in other places, we must specify the ancestry:
*/

footer p {
    font-style: italic;
}

/*
This example will apply to all the <p> tags in the <footer>, but nothing outside the <footer> hierarchy.

For more specific control over styling, IDs in the DOM can be referenced with a hashtag # symbol so we 
can specify styling for that one element or its descendants, like this:
*/

#infoPartA {
    background-color: darkgray;
    color: #eee; /* sets the font color of all child objects of this object */
}

#infoPartA h1 {
    color: gold; /* sets the font color specifically for the child h1 objects in this object*/
}

/*
These examples add style specifically to the object with ID "infoPartA" and then to all the <h1> tags
that are descendents of that object.

Each specific ID name can only be applied to one object in the DOM. However, unliked IDs, classes
can be applied to as many objects as needed. Classes are referred to with a period . symbol, like this:
*/

.imSpecial {
    font-size: 20px; /* sets the font size */
}

/* 
This applies styling to everything matching the class "imSpecial" anywhere in the DOM, regardless of
ancestry.

These can all be combined as necessary. For example, to style "imSpecial" class objects if they are 
descendants of the "infoPartB" ID object, we could write:
*/

#infoPartB .imSpecial {
    font-family: monospace; 
}

/* 

With this understanding of the DOM hierarchy as expressed through HTML and CSS, and with the full array
of CSS selecting, styling, and formatting possibilities, you can visually lay out any design you want.

*/