body {
	background-color: #333;
	color: white;
	font-family: Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5em;
}

a {
	color: lightskyblue;
}

section {
	height: 100vh;
	display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 10rem;
}

button:active {
    background-color: black;
    color: red;
}