body {
	background-color: #333;
	color: white;
	font-family: Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5em;
}

a {
	color: lightskyblue;
}

section {
	height: 100vh;
	border-bottom: 2px dotted #777;
}

#vidBox {
	position: relative;
	width: 800px;
	height: 450px;
}

#typingVideo {
	position: absolute;
	float: left;
	width: 800px;
	height: 450px;
	z-index: 1;
}

#vidOverlay {
	position: absolute;
	float: left;
	width: 800px;
	height: 450px;
	background-color: rgba(200, 200, 100, 0.5);
	z-index: 10;
}