/* Background Attachment Vertical */

/* load font Titillium Web from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');


* {
    box-sizing: border-box; /* set box-sizing to make dimensions primary */
}

html, body {
	padding: 0;
	margin: 0;
	font-family: "Titillium Web", sans-serif;
}

html {
	scroll-snap-type: y mandatory; /* force scroll snap for vertical elements */
}

body {
	overflow-x: hidden; /* hide horizontal scrollbars */
	overflow-y: auto; /* show vertical scrollbars */
}

/* eliminate default padding from content elements */
h1, h2, p {
	padding: 0;
	margin: 0;
}

/* all sections are positioned relative and have a full-page height of 100vh, plus some background settings */
section {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
	scroll-snap-align: start; /* force scrolling to align with the top edge of this element */
}

/* absolutely positioned full-width element with a border provides a frame */
.borderOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 7rem solid #000;
}

/* apply background images to sections; section1 and section4 have the same background; note background styles in the section selector too */
#section1,
#section4 { background-image: url('images/geranimo-qzgN45hseN0-unsplash.jpg'); }
#section2 { background-image: url('images/kristjan-kotar--h15p84GY5k-unsplash.jpg'); }
#section3 { background-image: url('images/greg-rosenke-8F47XWiUPrQ-unsplash.jpg'); }


/* content divs within the sections are positioned absolutely to the top and right, almost half the page wide */
section > .content {
    position: absolute;
    width: 100%;
    bottom: 3rem;
    left: 0;
    padding: 1rem;
    text-align: center;
    color: white;
    font-size: 2rem;
}
