body {
    background-color: darkgray;
}

.thumbnail {
    width: 100px;
    height: 100px;
    margin: 10px;
}

#logoImage {
    height: 400px;
    width: 400px;
    mask-image: url(logo.png);
    mask-repeat: no-repeat;
    mask-size: cover;
}
