p {
    text-align: center;
}

.thumbnail {
    width: 80px;
    height: 80px;
    margin: 10px;
}

#logoImage {
    height: 400px;
    width: 400px;
    mask-image: url(logo.png);
    mask-repeat: no-repeat;
    mask-size: cover;
}
