/* styles for example */

body {
    background-color: lightgrey;
}

article {
    margin: 3em;
    border: 1em solid grey;
    background-color: white;
    padding: 3em;
}

#dogImage {
    background-image: url('dog-background.jpg');
    background-size: cover;
    width: 300px;
    height: 400px;
    float: right;
    shape-outside: url("dog-mask.png");
}