/* styles for example */

body {
    background-color: lightgrey;
}

article {
    margin: 3em;
    border: 1em solid grey;
    background-color: white;
    padding: 3em;
    overflow: hidden;
}

#dogImage {
    height: 400px;
    float: left;
    shape-outside: url("dog-mask-transparent.png");
    padding: 1em;
}