/* styles for example */

body {
    background-color: lightgrey;
}

p {
    line-height: 1.7em;
}

/* frame the content */
article {
    width: 70%;
    margin: 3em auto;
    border: 1em solid grey;
    background-color: white;
    padding: 3em;
    overflow: hidden;
}

.thumbnail {
    width: 80px;
    height: auto;
}

#dogImage {
    height: 400px;
    float: left;
    shape-outside: url("dog-mask-transparent.png"); /* determine text wrap shape based on transparent / alpha shape in image */
    padding: 0 1em;
}