/* styles for modal madlibs example */

body {
	font-family: Arial, sans-serif;
	line-height: 2em;
}

p, li {
	font-size: 150%;
}

input, select, option {
	font-size: 90%;
}

/* blur and dim the background with a cover */
#modalCover {
	position: fixed;
	display: none; /* hidden by default */
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255,255,255,0.7);
	backdrop-filter: blur(8px);
	z-index: 1000;
}

/* pop-up window */
#modalPopup {
	position: fixed;
	display: none; /* hidden by default */
	width: 30vw;
	height: 60vh;
	left: 35vw;
	top: 20vh;
	padding: 1em;
	background-color: white;
	border: 1px solid gray;
	color: black;
	z-index: 1001;
}

body.showModal #modalCover,
body.showModal #modalPopup {
	display: block;
}








