/* styles for form demo */

body {
    font-family: sans-serif;
}

#formContainer {
    width: 50vw;
    min-width: 250px;
    max-width: 500px;
    background-color: #eee;
    border: 1px solid #aaa;
    box-shadow: 0 10px 10px #777;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr td {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

input,
select, 
textarea {
    padding: 5px;
    font-size: 1rem;
    font-family: Arial, sans-serif;
}

textarea {
    width: 100%;
    display: block;
}

button {
    font-size: 1rem;
    padding: 10px;
    border-radius: 8px;
    background-color: #333;
    color: white;
}

button:hover {
    background-color: #777;
}

button:focus {
    background-color: white;
    color: #333;
}
